@import "../Styles/base.scss";

@mixin Questionnaire() {
    padding: 2.5rem 2.5rem;
    @include flex(column);
    row-gap: 4rem;
    > h1 {
        @include fontSize24px();
        color: $basic-dark;
        font-family: $manrope;
    }

    > .containers
    {
        @include flexComp(column);
        row-gap: 3.5rem;



        > h2,h3{
            @include fontSize24px();
            color: $accent-blue;
            font-family: $manrope;
        }
        > .range-labels{
            color: blue;
            @include fontSize20px();
        }
    }
}

.questionnaireComponent {
    @include Questionnaire();
}
